@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&family=Yeon+Sung&display=swap');


:root {
    --transicionPrincipal: all 0.3s linear;
    --rojo: #CD2424;
    --negro: #222;
    --blanco: #fff;
    --gris: #ececec;
    --espacio: 0.1rem;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--blanco);
    background-color: var(--blanco);
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 16.18px;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}

.navbar{
    color: #fff;
    /* background-color: #222; */
    /* width: 100%; */
    text-align: center;
}
.navbar-ul{
    list-style: none;
    display: flex;
    position: relative;
    z-index: 1;
    margin-top: 1rem;
}
.logo{
    cursor: pointer;
    font-size: 3.3rem;
    position: absolute;
    width: 99%;
    /* justify-content: center; */
    /* margin-left: 43%; */
    text-decoration: none;
    color: #fff;
    margin-top: 1rem;
}
.logo:hover{
    color: #fff;
    text-decoration: none;
}
.cartwidget{
    cursor: pointer;
    font-size: 2rem;
    position: relative;
    z-index: 1;  
    color:#fff;
    margin: 1rem
}
.navbar-ul a {
    text-decoration: none;
    padding: 1.5rem;
    font-size: 1.1rem;
    color: #fff;
}

.itemlist-container{
    margin-top: 6rem;
    width: 100%;
}
.itemlist-container-title{
    display: inline;
    text-align: center;
}

.itemlist-container-row{
    justify-content: center;
    margin-top: 2rem;
}

.item-card{
    margin: 1rem;
    color: #222;
}

.item-card img{
    padding: 1rem;
    max-height: 15rem;
    object-fit: scale-down;
}

.itemcount-count{
    margin: 10px;
    margin-left: 0.9rem;
    border-radius: 7px; 
    display: flex;
}
.itemcount-count button{
    margin: 5px;
    border-radius: 7px;
    width: 3rem;
}

.itemcount-count span{
    font-weight: 700;
    padding-top: 4px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.agregar-carrito{
    margin: 1rem;
    display: flex;
}
.agregar-carrito button {
    border-radius: 7px;
    padding: 0.2rem;
    margin: 0.2rem;
}

.item-card-title{
    font-size: 1.2rem;
    max-height: 3rem;
    overflow: hidden;
    white-space: nowrap;
}
.cart-container{
    display: flex;
    flex-direction: column;
    
}
.cart-item{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: solid 2px grey;
}
.cart-item img{
    height: 12rem;
}
.cart-quantity{
    position: absolute;
    bottom: -0.6rem;
    right: -0.9rem;
    border-radius: 0.5rem;
    color: black;
}

.greeting{
    color: #fff;
}

.spinner {
    width: 100px;
    height: 100px;
    font-size: 2rem;
}
.numero-orden{
    font-size: 2rem;
    background-color: #fff;
    color: #222;
    text-align: center;
    border-radius: 21px;
}
.detail{
    width: 60rem;
    margin: 3rem;
    padding: 1rem;
}

.detail-photo{
    width: 18rem;
    height: 18rem;
    object-fit: scale-down;
}
