@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&family=Yeon+Sung&display=swap');


:root {
    --transicionPrincipal: all 0.3s linear;
    --rojo: #CD2424;
    --negro: #222;
    --blanco: #fff;
    --gris: #ececec;
    --espacio: 0.1rem;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--negro);
    background-color: var(--blanco);
    font-family: 'Montserrat', sans-serif;
}


/* --------------- Navbar ---------------- */

.navbar{
    background-color: black;
    color: white;
    font-size: 1.5rem;
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-around;
    position: sticky;
    z-index: 1;
    font-family: 'Indie Flower', cursive;
}

.navbar-links{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding-right: 70%;
}
.navbar-links-li{
    margin-right: 30px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    padding-top: 0.9rem;
}

.navbar-links-li:hover{
    opacity: 50%;
    transition:.1s ease-in;
}
    

.navbar-links-li {
    text-decoration: none;
    color: white;
}

.navbar-logo{
    position: absolute;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-family: 'Yeon Sung', cursive;
    font-size: 2.2rem;
}

.navbar i {
    cursor: pointer;
    position: relative;
    padding-top: 10px;
}
.navbar-cart-items{
    position: relative;
    bottom: 40px;
    left: 30px;
    background: var(--rojo);
    padding: 0 5px;
    border-radius: 30%;
    color: var(--blanco);
    
}
/* --------------- Final Navbar ---------------- */


/*---Contador---*/

.itemcount {
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    border: 2px solid #b4b4b4;
    border-radius: 5px;
    align-items: center;
}

.itemcount button {
    color:#4b93ff;
    font-weight: 500;
    border: 0px;
    font-size: 20px;
    background-color: none;
    text-decoration: none;
    
}

.contador-container {
    background-color:#e9e9e9;
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-contador {
    color:#4b93ff;
    border-radius: 5px;
    border: 2px solid #7FB0FC;
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-contador:hover {
    background-color: white;
}
.btn-contador {
    transition: 0.4s;
}

.itemContainer{
    background-color: #fff;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
    width: 100%;
}

.itemContainer:hover{
    transform: translateY(-0.5%);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
}

.card-img{
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: scale-down;
}

.card-btn{
    display: block;
    width: 100%;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: center;
    color: #3363ff;
    background-color: #d8e0fd;
    border: none;
    border-radius: 0.4rem;
    transition: 0.2s;
    cursor: pointer;
    letter-spacing: 0.1rem;
}

.card-btn:hover,.card-btn:active{
    background-color: #c2cffc;
}

.itemContainer-grid{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    column-gap: 5%;
    justify-content: center;
    
}

.card-title{
    display: flex;
    justify-content: center;
}