@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&family=Yeon+Sung&display=swap');


:root {
    --transicionPrincipal: all 0.3s linear;
    --rojo: #CD2424;
    --negro: #222;
    --blanco: #fff;
    --gris: #ececec;
    --espacio: 0.1rem;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--negro);
    background-color: var(--blanco);
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 16.18px;
}

.navbar{
    color: #222;
    /* background-color: #222; */
    /* width: 100%; */
    border: 3px solid black;
    text-align: center;
}
.navbar-ul{
    list-style: none;
    display: flex;
    position: relative;
    z-index: 1;
    margin-top: 1rem;
}
.logo{
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    width: 99%;
    /* justify-content: center; */
    /* margin-left: 43%; */
}
.cartwidget{
    cursor: pointer;
    font-size: 1.5rem;
    position: relative;
    z-index: 1;  
}
.navbar-ul a {
    text-decoration: none;
    padding: 0.5rem;
}

.itemlist-container{
    margin: 2rem;
}
.itemlist-container-title{
    text-align: center;
}

.itemlist-container-row{
    justify-content: center;
}

.item-card{
    margin: 1rem;
}

.item-card img{
    padding: 1rem;
    max-height: 15rem;
    object-fit: scale-down;
}

.itemcount-count{
    margin: 10px;
    margin-left: 0.9rem;
    border-radius: 7px; 
    display: flex;
}
.itemcount-count button{
    margin: 5px;
    border-radius: 7px;
    width: 3rem;
}

.itemcount-count span{
    font-weight: 700;
    padding-top: 4px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.agregar-carrito{
    margin: 1rem;
    display: flex;
}
.agregar-carrito button {
    border-radius: 7px;
    padding: 0.2rem;
    margin: 0.2rem;
}

.item-card-title{
    font-size: 1.2rem;
    max-height: 3rem;
    overflow: hidden;
    white-space: nowrap;
}
.cart-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.cart-item{
    display: flex;
    align-items: center;
    border: solid 2px grey;
}
.cart-item img{
    height: 12rem;
}
.cart-quantity{
    position: absolute;
    bottom: -0.6rem;
    right: -0.9rem;
    border-radius: 0.5rem;
    color: red;
}