:root {
    --transicionPrincipal: all 0.3s linear;
    --rojo: #CD2424;
    --negro: #222;
    --blanco: #fff;
    --gris: #ececec;
    --espacio: 0.1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--negro);
    background-color: var(--blanco);
    font-family: 'Montserrat', sans-serif;
}





.navbar {
    background-color: var(--blanco);
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgb(231, 226, 221);
    z-index: 1;
}


.navbar-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}